.modal-dialog {
  -fx-padding: 20px;
  -fx-spacing: 10px;
  -fx-alignment: center;
  -fx-font-size: 20px;
  -fx-background-color: red;
  -fx-border-width: 5px;
  -fx-background-insets: 12px;
  -fx-border-insets: 10px;
  -fx-border-radius: 6px;
  -fx-background-radius: 6px;
}
